@-webkit-keyframes "rotarload" {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes "rotarload" {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.loader-page {
  position: fixed;
  z-index: 25000;
  background: white;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.loader-page::before {
  content: "";
  position: absolute;
  border: 2px solid rgba(229, 163, 42, 0.604);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-left: 2px solid rgba(50, 150, 176, 0);
  border-top: 2px solid rgba(50, 150, 176, 0);
  -webkit-animation: rotarload 1s linear infinite;
          animation: rotarload 1s linear infinite;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.loader-page::after {
  content: "";
  position: absolute;
  border: 2px solid #E5A228;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-left: 2px solid rgba(50, 150, 176, 0);
  border-top: 2px solid rgba(50, 150, 176, 0);
  -webkit-animation: rotarload 1s ease-out infinite;
          animation: rotarload 1s ease-out infinite;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

@font-face {}h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif !important;
  font-size: 16px !important;
  color: rgba(40, 41, 42, 0.611);
}

p {
  text-align: justify;
}

/*--------------------------------------------------------------
  # Sections General
  --------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background: #f5f8fd;
}

.section-title {
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  padding-bottom: 20px;
  position: relative;
  color: #323131db;
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #E5A228;
  bottom: 0;
  left: 0;
}

.section-title p {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  body {
    font-size: 13px !important;
  }
}

.u-center-text {
  text-align: center !important;
}

.u-auto-margin {
  margin: auto;
}

.u-padding-rightbig {
  padding-right: 50px;
}

/*--------------------------------------------------------------
# Button principal
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
a {
  color: #272829c2;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: #e5a228;
  text-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.link {
  color: #fff;
  text-decoration: none;
  display: inline-block;
}

.btn-principal {
  color: #fff;
  background: #e5a228;
  -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.btn-principal:hover {
  background-color: #ffffff !important;
  color: #e5a228;
  font-weight: 400;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-box-shadow: 0 0 0.2em #fff, 0 0 0.5em #e5a228, 0 0 0.5em #ccc;
          box-shadow: 0 0 0.2em #fff, 0 0 0.5em #e5a228, 0 0 0.5em #ccc;
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.back-to-top {
  position: fixed;
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  right: 15px;
  bottom: 15px;
  -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  background: #e5a228;
  color: #fff;
  -webkit-transition: display 0.5s ease-in-out;
  transition: display 0.5s ease-in-out;
  z-index: 99999;
}

.back-to-top i {
  font-size: 24px;
  position: absolute;
  top: 7px;
  left: 8px;
}

.back-to-top:hover {
  background-color: #ffffff !important;
  color: #e5a228;
  font-weight: 400;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-box-shadow: 0 0 0.2em #fff, 0 0 0.5em #e5a228, 0 0 0.5em #ccc;
          box-shadow: 0 0 0.2em #fff, 0 0 0.5em #e5a228, 0 0 0.5em #ccc;
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

/*--------------------------------------------------------------
  # Portfolio
  --------------------------------------------------------------*/
/*--------------------------------------------------------------
# Facts
--------------------------------------------------------------*/
.facts {
  padding-top: 150px;
  padding-bottom: 0px;
}

.facts p {
  text-align: left;
}

.facts .count-box {
  padding: 30px;
  width: 100%;
}

.facts .count-box i {
  display: block;
  font-size: 44px;
  color: #E5A228;
  float: left;
}

.facts .count-box span {
  font-size: 48px;
  line-height: 40px;
  display: block;
  font-weight: 700;
  color: #050d18;
  margin-left: 60px;
}

.facts .count-box p {
  padding: 15px 0 0 0;
  margin: 0 0 0 60px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: #122f57;
}

.facts .count-box a {
  font-weight: 600;
  display: block;
  margin-top: 20px;
  color: #122f57;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.facts .count-box a:hover {
  color: #1f5297;
}

@media (max-width: 768px) {
  .facts {
    padding-top: 0px !important;
    padding-bottom: 100px !important;
  }
  #contact h4 {
    font-size: 13px;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
  z-index: 9997;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding: 0 15px;
  background: #040b14;
  overflow-y: auto;
}

#header::-webkit-scrollbar {
  width: 7px;
  background-color: black;
}

#header::-webkit-scrollbar-thumb {
  background-color: #4675cc;
  border-radius: 5px;
}

#header .profile img {
  margin: 20px auto;
  display: block;
  width: 150px;
  height: 120px;
}

#header .profile h1 {
  font-size: 24px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  text-align-last: center;
  font-family: "Poppins", sans-serif;
}

#header .profile h1 a {
  color: #fff;
  text-decoration: none;
}

#header .profile h1 a:hover {
  color: #fff;
  text-decoration: none;
}

#header .profile .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #212431;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#header .profile .social-links a:hover {
  background: #E5A228;
  color: #fff;
  text-decoration: none;
}

#main {
  margin-left: 300px;
  z-index: 5;
}

@media (max-width: 1199px) {
  #header {
    left: -300px;
  }
  #main {
    margin-left: 0;
    z-index: 5;
  }
}

/*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
/* Desktop Navigation */
/* Mobile Navigation */
.nav-menu {
  padding-top: 30px;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
}

.nav-menu a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #a8a9b4;
  padding: 12px 15px;
  margin-bottom: 8px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 15px;
}

.nav-menu a i {
  font-size: 24px;
  padding-right: 8px;
  color: #6f7180;
}

.nav-menu a:hover {
  text-decoration: none;
  color: #fff;
}

.nav-menu a:hover i {
  color: #E5A228;
}

.nav-menu .active > a {
  text-decoration: none;
  color: #fff;
}

.nav-menu .active > a i {
  color: #E5A228;
}

.nav-menu li:hover > a {
  text-decoration: none;
  color: #fff;
}

.nav-menu li:hover > a i {
  color: #E5A228;
}

.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 2em;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #E5A228;
  font-size: 1.3em !important;
  text-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.bx-x {
  color: #455A64 !important;
  text-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1) !important;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active #header {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  padding: 15px;
  color: #f4f6fd;
  font-size: 14px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 250px;
  z-index: 9999;
  background: #040b14;
}

#footer .copyright {
  text-align: center;
}

#footer .credits {
  padding-top: 5px;
  text-align: center;
  font-size: 13px;
  color: #eaebf0;
}

@media (max-width: 1199px) {
  #footer {
    position: static;
    width: auto;
    padding-right: 20px 15px;
  }
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("https://images.unsplash.com/photo-1571171637578-41bc2dd41cd2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80") top center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#hero:before {
  content: "";
  background: rgba(5, 13, 24, 0.3);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#hero .hero-container {
  position: relative;
  z-index: 2;
  min-width: 300px;
}

#hero h1 {
  margin: 0 300px 10px 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

#hero p {
  color: #fff;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
}

#hero p span {
  color: #fff;
  padding-bottom: 4px;
  letter-spacing: 1px;
  border-bottom: 3px solid #E5A228;
}

.wave-hero {
  position: absolute;
  z-index: 4;
  bottom: 0;
  right: 0;
}

.hero-container-mobile {
  z-index: 2;
  margin-top: -35em;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero {
    height: 90vh;
  }
  #hero:before {
    bottom: 0px;
  }
  #hero h1 {
    margin: 0 300px 10px 0;
    font-size: 60px;
    line-height: 55px;
    margin-left: 0px;
    margin-top: 500px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  .wave-hero {
    bottom: 0px;
  }
}

@media screen and (min-height: 320px) and (max-width: 568px) and (orientation: landscape) {
  #hero {
    height: 110vh;
  }
  #hero:before {
    bottom: 0px;
  }
  #hero h1 {
    width: 100%;
  }
  .hero-container-mobile {
    margin-top: -40em;
  }
}

@media (max-width: 480px) {
  #hero p {
    font-size: 25px;
    padding-left: 0%;
  }
  #hero h1 {
    margin-left: 0px;
  }
}

/*--------------------------------------------------------------
  # About
  --------------------------------------------------------------*/
/*--------------------------------------------------------------
  # Icons Tecnologies
  --------------------------------------------------------------*/
.fa-html5 {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.fa-html5:hover {
  opacity: 1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #E55126;
}

.fa-css3-alt {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.fa-css3-alt:hover {
  opacity: 1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #0C73B8;
}

.fa-js {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.fa-js:hover {
  opacity: 1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #E5A228;
}

.fa-bootstrap {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.fa-bootstrap:hover {
  opacity: 1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #5D3C7F;
}

.fa-sass {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.fa-sass:hover {
  opacity: 1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #C56394;
}

.bxl-jquery {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.bxl-jquery:hover {
  opacity: 1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #0C68AC;
}

.fa-vuejs {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.fa-vuejs:hover {
  opacity: 1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #41B883;
}

.fa-react {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.fa-react:hover {
  opacity: 1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #61DAFB;
}

.fa-node {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.fa-node:hover {
  opacity: 1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #91C441;
}

.fa-wordpress {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.fa-wordpress:hover {
  opacity: 1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #21759B;
}

.fa-php {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.fa-php:hover {
  opacity: 1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #777BB3;
}

.fa-laravel {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.fa-angular:hover,
.fa-laravel:hover {
  opacity: 1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #FF2D20;
}

.fa-github {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.fa-github:hover {
  opacity: 1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #062738;
}

.fa-git-alt {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.fa-git-alt:hover {
  opacity: 1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #F34F29;
}

.bxl-adobe {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.bxl-adobe:hover {
  opacity: 1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #fa0f00;
}

.fa-figma {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.fa-figma:hover {
  opacity: 1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #323131a3;
}

.fa-jquey:hover {
  opacity: 1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #C56394;
}

@media (max-width: 768px) {
  .about h2 {
    margin-top: 0;
  }
  p {
    margin-top: 0;
  }
  .icon-tecnologies {
    font-size: 2.5em !important;
  }
}

/*--------------------------------------------------------------
  # Studie
  --------------------------------------------------------------*/
.resume .resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #050d18;
}

.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #E5A228;
  position: relative;
}

.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #050d18;
  margin-bottom: 10px;
}

.resume .resume-item h5 {
  font-size: 16px;
  background: #e4edf9;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.resume .resume-item ul {
  padding-left: 20px;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #323131db;
}

/*--------------------------------------------------------------
  # Experience
  --------------------------------------------------------------*/
.experience .experience-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #050d18;
}

.experience .experience-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #E5A228;
  position: relative;
}

.experience .experience-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #050d18;
  margin-bottom: 10px;
}

.experience .experience-item h5 {
  font-size: 16px;
  background: #e4edf9;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.experience .experience-item ul {
  padding-left: 20px;
}

.experience .experience-item ul li {
  padding-bottom: 10px;
}

.experience .experience-item:last-child {
  padding-bottom: 0;
}

.experience .experience-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #323131db;
}

#experience ul {
  list-style: none;
}

#experience ul li span {
  font-size: 13px;
}

#experience ul li::before {
  content: "\2022";
  color: #E5A228;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

#experience table ul {
  list-style: none;
}

#experience table ul li span {
  font-size: 13px;
}

#experience table ul li::before {
  content: "\2022";
  color: #E5A228;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: 'Rubik', sans-serif;
  --font-serif: 'Cardo', serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.page-content {
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
  padding: 0rem;
  margin: 0 auto;
  font-family: var(--font-sans);
}

@media (min-width: 600px) {
  .page-content {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 800px) {
  .page-content {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.card:nth-child(1):before {
  background-image: url(../../assets/img/0.png);
}

.card:nth-child(2):before {
  background-image: url(../../assets/img/1.png);
}

.card:nth-child(3):before {
  background-image: url(../../assets/img/4.png);
}

.card:nth-child(4):before {
  background-image: url(../../assets//img/7.png);
}

.card:nth-child(5):before {
  background-image: url(../../assets/img/2.png);
}

.card:nth-child(6):before {
  background-image: url(../../assets/img/3.png);
}

.card {
  position: relative;
  padding: 1rem;
  color: whitesmoke;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  overflow: hidden;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(255, 255, 255, 0.125);
  border-radius: .25rem;
}

@media (min-width: 600px) {
  .card {
    height: 350px;
  }
}

.card:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  -webkit-transition: -webkit-transform calc(var(--d) * 1.5) var(--e);
  transition: -webkit-transform calc(var(--d) * 1.5) var(--e);
  transition: transform calc(var(--d) * 1.5) var(--e);
  transition: transform calc(var(--d) * 1.5) var(--e), -webkit-transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}

.card:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(11.7%, rgba(0, 0, 0, 0.009)), color-stop(22.1%, rgba(0, 0, 0, 0.034)), color-stop(31.2%, rgba(0, 0, 0, 0.072)), color-stop(39.4%, rgba(0, 0, 0, 0.123)), color-stop(46.6%, rgba(0, 0, 0, 0.182)), color-stop(53.1%, rgba(0, 0, 0, 0.249)), color-stop(58.9%, rgba(0, 0, 0, 0.32)), color-stop(64.3%, rgba(0, 0, 0, 0.394)), color-stop(69.3%, rgba(0, 0, 0, 0.468)), color-stop(74.1%, rgba(0, 0, 0, 0.54)), color-stop(78.8%, rgba(0, 0, 0, 0.607)), color-stop(83.6%, rgba(0, 0, 0, 0.668)), color-stop(88.7%, rgba(0, 0, 0, 0.721)), color-stop(94.1%, rgba(0, 0, 0, 0.762)), to(rgba(0, 0, 0, 0.79)));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: -webkit-transform calc(var(--d) * 2) var(--e);
  transition: -webkit-transform calc(var(--d) * 2) var(--e);
  transition: transform calc(var(--d) * 2) var(--e);
  transition: transform calc(var(--d) * 2) var(--e), -webkit-transform calc(var(--d) * 2) var(--e);
}

.content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0rem;
  -webkit-transition: -webkit-transform var(--d) var(--e);
  transition: -webkit-transform var(--d) var(--e);
  transition: transform var(--d) var(--e);
  transition: transform var(--d) var(--e), -webkit-transform var(--d) var(--e);
  z-index: 1;
}

.content > * + * {
  margin-top: 1rem;
}

.title {
  text-align: center;
  font-size: 3.3rem;
  font-weight: 700;
  font-weight: bold;
  line-height: 1.2;
  color: #fff;
  text-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.copy {
  text-align: center;
  width: 85%;
  font-family: var(--font-serif);
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
}

@media (hover: hover) and (min-width: 600px) {
  .card:after {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .content {
    -webkit-transform: translateY(calc(100% - 4.5rem));
            transform: translateY(calc(100% - 4.5rem));
  }
  .content > *:not(.title) {
    opacity: 0;
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
    -webkit-transition: opacity var(--d) var(--e), -webkit-transform var(--d) var(--e);
    transition: opacity var(--d) var(--e), -webkit-transform var(--d) var(--e);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e), -webkit-transform var(--d) var(--e);
  }
  .card:hover,
  .card:focus-within {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card:hover:before,
  .card:focus-within:before {
    -webkit-transform: translateY(-4%);
            transform: translateY(-4%);
  }
  .card:hover:after,
  .card:focus-within:after {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .card:hover .content,
  .card:focus-within .content {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .card:hover .content > *:not(.title),
  .card:focus-within .content > *:not(.title) {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transition-delay: calc(var(--d) / 8);
            transition-delay: calc(var(--d) / 8);
  }
  .card:focus-within:before, .card:focus-within:after,
  .card:focus-within .content,
  .card:focus-within .content > *:not(.title) {
    -webkit-transition-duration: 0s;
            transition-duration: 0s;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 2.5rem !important;
  }
}

.contact {
  padding-top: 200px;
  padding-bottom: 150px;
}

.contact h4 {
  font-size: 16px;
  font-weight: 600;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.contact a {
  text-decoration: none;
}

.bx-mail-send {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.bx-mail-send:hover {
  opacity: 1;
  color: #e5a228;
}

.fa-whatsapp {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.fa-whatsapp:hover {
  opacity: 1;
  color: #e5a228;
}

.fa-linkedin {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.fa-linkedin:hover {
  opacity: 1;
  color: #e5a228;
}

.card-contact {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.card-contact:hover {
  color: #fff;
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

@media (max-width: 768px) {
  .contact {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
  #contact h4 {
    font-size: 13px;
  }
}
/*# sourceMappingURL=main.css.map */