/*--------------------------------------------------------------
# Button principal
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
a {
  color: $color-secondary;
  text-decoration: none;
  cursor: pointer;
  &:hover{
    color: #e5a228;
    // margin-bottom: 10px;
    text-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    //transition: width .3s;
  }
}

.link{
  color: #fff;
  text-decoration: none;
  display: inline-block;
}
.btn-principal {
  color: #fff;
  background: #e5a228;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  transition: all 0.5s ease;
  &:hover {
    background-color: #ffffff !important;
    color: #e5a228;
    font-weight: 400;
    transition: all 0.5s ease;
    box-shadow: 0 0 0.2em #fff, 0 0 0.5em #e5a228, 0 0 0.5em #ccc;
    transition: all 0.4s ease-in-out 0s;
  }
}
.back-to-top {
  position: fixed;
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  right: 15px;
  bottom: 15px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  background: #e5a228;
  color: #fff;
  transition: display 0.5s ease-in-out;
  z-index: 99999;
}
.back-to-top {
  i {
    font-size: 24px;
    position: absolute;
    top: 7px;
    left: 8px;
  }
  &:hover {
    background-color: #ffffff !important;
    color: #e5a228;
    font-weight: 400;
    transition: all 0.5s ease;
    box-shadow: 0 0 0.2em #fff, 0 0 0.5em #e5a228, 0 0 0.5em #ccc;
    transition: all 0.4s ease-in-out 0s;
  }
}
