*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // box-sizing: inherit;
}

body {
    font-family: 'Poppins', sans-serif !important;
    font-size: 16px !important;
    color: hsla(210, 3%, 16%, 0.611)
}
p{
	text-align: justify;
}
/*--------------------------------------------------------------
  # Sections General
  --------------------------------------------------------------*/
  section {
	padding: 60px 0;
	overflow: hidden;
}
.section-bg {
	background: #f5f8fd;
}
.section-title {
	padding-bottom: 30px;
	h2 {
		font-size: 32px;
		font-weight: bold;
		padding-bottom: 20px;
		position: relative;
		color: #323131db;
		&::after {
			content: '';
			position: absolute;
			display: block;
			width: 50px;
			height: 3px;
			background: #E5A228;
			bottom: 0;
			left: 0;
		}
	}
	p {
		margin-bottom: 0;
	}
}

@media (max-width: 768px) {
	body {
		font-size: 13px !important;
	}
}
