.contact {
	padding-top: 200px;
  padding-bottom: 150px;
  h4 {
    font-size: 16px;
    font-weight: 600;
    transition: all 0.5s ease;
  }
  a {
    text-decoration: none;
  }
}
.bx-mail-send {
  transition: all 0.5s ease;
  &:hover {
    opacity: 1;
    color: #e5a228;
  }
}
.fa-whatsapp {
  transition: all 0.5s ease;
  &:hover {
    opacity: 1;
    color: #e5a228;
  }
}
.fa-linkedin {
  transition: all 0.5s ease;
  &:hover {
    opacity: 1;
    color: #e5a228;
  }
}
.card-contact {
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  &:hover {
    color: #fff;
    transform: translateY(-7px);
  }
}
@media (max-width: 768px) {
	.contact {
		padding-top: 0px !important;
		padding-bottom: 0px !important;
	}

  #contact h4 {
    font-size: 13px;
  }
}
