/*--------------------------------------------------------------
  # Experience
  --------------------------------------------------------------*/
  .experience {
	.experience-title {
		font-size: 26px;
		font-weight: 700;
		margin-top: 20px;
		margin-bottom: 20px;
		color: #050d18;
	}
	.experience-item {
		padding: 0 0 20px 20px;
		margin-top: -2px;
		border-left: 2px solid #E5A228;
		position: relative;
		h4 {
			line-height: 18px;
			font-size: 18px;
			font-weight: 600;
			text-transform: uppercase;
			font-family: "Poppins", sans-serif;
			color: #050d18;
			margin-bottom: 10px;
		}
		h5 {
			font-size: 16px;
			background: #e4edf9;
			padding: 5px 15px;
			display: inline-block;
			font-weight: 600;
			margin-bottom: 10px;
		}
		ul {
			padding-left: 20px;
			li {
				padding-bottom: 10px;
			}
		}
		&:last-child {
			padding-bottom: 0;
		}
		&::before {
			content: "";
			position: absolute;
			width: 16px;
			height: 16px;
			border-radius: 50px;
			left: -9px;
			top: 0;
			background: #fff;
			border: 2px solid #323131db;
		}
	}
}
@media (max-width: 768px) {
	.experience{
		// margin-top: -680px;
	}
}

  #experience {
	ul {
		list-style: none;
		li {
			span {
				font-size: 13px;
			}
			&::before {
				content: "\2022";
				color: #E5A228;
				font-weight: bold;
				display: inline-block;
				width: 1em;
				margin-left: -1em;
			}
		}
	}
	table {
		ul {
			list-style: none;
			li {
				span {
					font-size: 13px;
				}
				&::before {
					content: "\2022";
					color: #E5A228;
					font-weight: bold;
					display: inline-block;
					width: 1em;
					margin-left: -1em;
				}
			}
		}
	}
}
